$def with (page)
<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<title>Service状态监控</title>
		<link rel="icon" type="image/gif" href="/static/images/favicon.gif" >
		<link rel="stylesheet" type="text/css" href="/static/css/common.css"> 
		<link rel="stylesheet" type="text/css" href="/static/css/monitor.css"> 
    <script src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.js"></script>
  <script language="javascript" type="text/javascript" src="/static/js/My97DatePicker/WdatePicker.js"></script>

	<link rel="stylesheet" type="text/css" href="/static/css/rong.tang.css"> 
	<link rel="stylesheet" type="text/css" href="/static/css/common.css"> 
  <link href="/static/js/My97DatePicker/skin/WdatePicker.css" rel="stylesheet" type="text/css">

</head>


<body>


<div id="wrapper">
    <h1><center>Service状态监控</center></h1>
    <div id="page">    	
      $:page
  	</div>
</div>


</body>
</html>
