<script language="javascript" type="text/javascript" src="/static/js/My97DatePicker/WdatePicker.js"></script>
<script>
function isEmpty(obj) {
    if (typeof obj == 'undefined' || obj === null || obj === '') return true;
    if (typeof obj == 'number' && isNaN(obj)) return true;
    if (obj instanceof Date && isNaN(Number(obj))) return true;
    return false;
}

function show(){
    var date1 = $$.trim($$('#date1').val());
    var hour1 = $$.trim($$('#hour1').val());    
    if(isEmpty(hour1)){
    	alert("小时不能为空");
	    return;
    }
     if(isEmpty(date1)){
    	alert("日期不能为空");
	    return;
    }

  var datedata = date1+"-"+hour1
  var adGroupId = 0;
	$$.ajax({
		url : '/indexServicehistory/compare',
		cache : false,
		type : 'POST',
		data:{adGroupId: adGroupId, datedata: datedata},
		dataType : 'json',
		error : function(e){
			alert('获取信息失败');
		},
		success: function(data, stat){
			if (data.stat == 1){
				$$('#resTables').empty();
				for (var i in data.list)
					anAdGroup(data.list[i]);
			}else{
				alert('获取信息失败\n' + data.res);
			}
		}
	});
}
function anAdGroup(group){
	var $$group = $$('<div class="group"></div>');
	var $$tab = $$('<table border="0" cellspacing="0" cellpadding="4">' +
	'<thead><tr><th colspan="2" style="text-align:center;">广告组' + group.adgroupId + '</th></tr>' +
	'<tr><th>广告位id</th><th>价格</th>' +
	'</tr></thead></table>');
	
	for (var i in group.prices){
		price = group.prices[i];
		if (price.indexOf(':') > 0){
			$$tab.append('<tr><td>' + price.split(':')[0] + '</td><td>' + price.split(':')[1] + '</td></tr>');
		}
	}
	$$group.append($$tab);
	$$('#resTables').append($$group);	
}
</script>

<div class="ctrlPanel">
<label>日期</label><input id="date1" name="date1" class="Wdate" type="text" onClick="WdatePicker()"/>
<label>小时</label>
<select id="hour1">
  <option>00</option>
  <option>01</option>
  <option>02</option>
  <option>03</option>
  <option>04</option>
  <option>05</option>
  <option>06</option>
  <option>07</option>
  <option>08</option>
  <option>09</option>
  <option>10</option>
  <option>11</option>
  <option>12</option>
  <option>13</option>
  <option>14</option>
  <option>15</option>
  <option>16</option>
  <option>17</option>
  <option>18</option>
  <option>19</option>
  <option>20</option>
  <option>21</option>
  <option>22</option>
  <option>23</option>
</select>
<br/>
  <span class="btn" onclick="show()">查询</span>
</div>
<div id="resTables">
</div>
