$def with (page)
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<link rel="icon" type="image/gif" href="/static/images/favicon.gif" >
        <link rel="stylesheet" type="text/css" href="/static/css/args_man.css">
        <link rel="stylesheet" type="text/css" href="/static/css/popup.css">
        <link rel="stylesheet" type="text/css" href="/static/css/mulit_sel.css">
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/popup.js"></script>
        <script type="text/javascript" src="/static/js/mulit_sel.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script type="text/javascript" src="/static/js/jquery.js"></script>
  <script language="javascript" type="text/javascript" src="/static/js/My97DatePicker/WdatePicker.js"></script>

	<link rel="stylesheet" type="text/css" href="/static/css/rong.tang.css"> 
	<link rel="stylesheet" type="text/css" href="/static/css/common.css"> 
  <link href="/static/js/My97DatePicker/skin/WdatePicker.css" rel="stylesheet" type="text/css">

  </head>


<body>


 


<div id="wrapper">
	<h1>系统参数平台</h1> 

    <div id="content">    	
      <div id="ss_container" >
      <div id="page">

      $:page
	    </div>
	    </div>
	  </div>

</div>
</body>
</html>
