<script language="javascript" type="text/javascript" src="/static/js/My97DatePicker/WdatePicker.js"></script>
<script>
function isEmpty(obj) {
    if (typeof obj == 'undefined' || obj === null || obj === '') return true;
    if (typeof obj == 'number' && isNaN(obj)) return true;
    if (obj instanceof Date && isNaN(Number(obj))) return true;
    return false;
}

function show(){
	var adZoneId = $$('#adZoneId').val();
	var adIndex = $$('#adIndex').val();
    var date1 = $$.trim($$('#date1').val());
    var hour1 = $$.trim($$('#hour1').val());    
    if(isEmpty(hour1)){
    	alert("小时不能为空");
	    return;
    }
     if(isEmpty(date1)){
    	alert("日期不能为空");
	    return;
    }
    var datedata = date1+"-"+hour1
 	$$.ajax({
		url : '/adedmsendermonitorhistory/zoneIndex',
		cache : false,
		type : 'POST',
		data:{adZoneId: adZoneId, adIndex: adIndex, datedata: datedata},
		dataType : 'json',
		error : function(e){
			alert('获取信息失败');
		},
		success: function(data, stat){
			if (data.stat == 1){
				$$('#resTables').empty();
				anAdZoneIndex(data.list);
			}else{
				alert('获取信息失败\n' + data.res);
			}
		}
	});
}

function anAdZoneIndex(index){
	var $$index = $$('<div class="ind"></div>');
	var $$tab = $$('<table border="0" cellspacing="0" cellpadding="4">' +
		'<thead><tr><th>属性</th><th>广告组</th></tr></thead></table>');
		
	for (var j in index){
	   $$tab.append('<tr><td>' + index[j].split(':')[0] + '</td><td>' + index[j].split(':')[1] + '</td></tr>');
	}
	$$index.append($$tab);
	
	$$('#resTables').append($$index);	
}
$$(function(){
	//$$('.ctrlPanel .btn').trigger('click');
	$$('#adZoneId').keyup(function(e){
		if(!e) e = window.event;//火狐中是 window.event
		var keyCode = (e.keyCode || e.which);
		if(keyCode == 13){//如果是回车
			$$('.ctrlPanel .btn').trigger('click');
		}
	});
});
</script>


<h2> 倒排索引 缓存数据查看</h2><br>

<div class="ctrlPanel">
请选择EdmMemberTyoe&nbsp;
<select id="adZoneId">
<option value="1" selected="selected">Brand_ad</option>
<option value="2" >Self_ad</option>
<option value="3" >Product_ad</option>
<option value="4" >Left_ad</option>
<option value="5" >Brand_3G</option>
<option value="6" >Self_3G</option>
<option value="7" >Product_3G</option>
</select>
<br/>请选择索引
<select id="adIndex">
<option value="0" selected="selected">性别 gender_index_</option>
<option value="1">人生阶段 stage_index_</option>
<option value="2">年级 grade_index_</option>
<option value="3">年龄 age_index_</option>
<option value="4">地区 area_index_</option>
<option value="5">学校 school_index_</option>
<option value="6">学校地域 school_area_index_</option>
<option value="7">公司 company_index_</option>
<option value="8">兴趣 interest_index_</option>
<option value="9">平台 platform_index_</option>
<option value="10">定位 lbs_index_</option>
</select>
<div class="cenContent">
<label>日期</label><input id="date1" name="date1" class="Wdate" type="text" onClick="WdatePicker()"/>
<label>小时</label>
<select id="hour1">
  <option>00</option>
  <option>01</option>
  <option>02</option>
  <option>03</option>
  <option>04</option>
  <option>05</option>
  <option>06</option>
  <option>07</option>
  <option>08</option>
  <option>09</option>
  <option>10</option>
  <option>11</option>
  <option>12</option>
  <option>13</option>
  <option>14</option>
  <option>15</option>
  <option>16</option>
  <option>17</option>
  <option>18</option>
  <option>19</option>
  <option>20</option>
  <option>21</option>
  <option>22</option>
  <option>23</option>
</select>
</div>
<span class="btn" onclick="show()">查询</span>
<br/>
</div>
<div id="resTables">
</div>

