<script language="javascript" type="text/javascript" src="/static/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript">

function isEmpty(obj) {
    if (typeof obj == 'undefined' || obj === null || obj === '') return true;
    if (typeof obj == 'number' && isNaN(obj)) return true;
    if (obj instanceof Date && isNaN(Number(obj))) return true;
    return false;
}

function sendTask()
{
    var date1 = $$.trim($$('#date1').val());
    var hour1 = $$.trim($$('#hour1').val());    
    if(isEmpty(hour1)){
	alert("小时不能为空");
	return;
    }
    
    post_data="time="+date1+"-"+hour1;
	$$.ajax({
  	    type: "POST",
            url: "/admobMonitor/AdMobCache",
            data: post_data,
	    async:false,
            success: function(msg)
            {
		if(msg == 'fail' || !msg)
		{
	 		alert('操作失败');
			return false;
		}
		document.getElementById("result").innerHTML=msg;
		$$("#result_div").show();
		return true;
            },
		error: function(msg)
		{
			alert('内部错误');
			return false;
		}
	});
}
</script>

<div id="ss_container" >
<div id="page">
  <h2>缓存数据查看</h2><br>

<label>日期</label><input id="date1" name="date1" class="Wdate" type="text" onClick="WdatePicker()"/>
<label>小时</label>
<select id="hour1">
  <option>00</option>
  <option>01</option>
  <option>02</option>
  <option>03</option>
  <option>04</option>
  <option>05</option>
  <option>06</option>
  <option>07</option>
  <option>08</option>
  <option>09</option>
  <option>10</option>
  <option>11</option>
  <option>12</option>
  <option>13</option>
  <option>14</option>
  <option>15</option>
  <option>16</option>
  <option>17</option>
  <option>18</option>
  <option>19</option>
  <option>20</option>
  <option>21</option>
  <option>22</option>
  <option>23</option>
</select>

	 <input type="submit" value='提交' onclick="sendTask();"/>


<div id="result_div" style="display:none">
<p id="result"></p>
</div>


</div>
</div>

