
<script>
function ret(){
	$$('input').val('');
}
function subF(){
	var subData = {};
	var subAble = true;
	$$('input').each(function(index, element) {
		var $$in = $$(this);
		if ($$in.val() == ''){
			alert($$in.attr('id') + ' 不可为空');
			subAble = false;
		}
        subData[$$in.attr('id')] = $$in.val();
    });
	if (subAble){
		$$.ajax({
			url : '/adUserCache/reset',
			cache : false,
			data: subData,
			type : 'POST',
			dataType : 'json',
			error : function(e){
				alert('移除用户失败');
			},
			success: function(data, stat){
				if (data.stat == 1){
					alert('移除用户成功');
				}else{
					alert('移除用户失败\n' + data.res);
				}
			}
		});
	}
}
</script>
<div id="nav"> 
	<ul> 
		<li><a href="/adUserCache/set">用户添加</a></li>
		<li><a href="/adUserCache/reset">用户移除</a></li>
		<li><a href="#" onclick="showAll()">用户列表</a></li>
	</ul> 
	<div style="clear:both;"></div> 
</div>

<table id="inputTable" border="0" cellspacing="0" cellpadding="4">
  <tbody>
      <tr>
        <td align="right">uid</td>
        <td><input id="uid" type="text" value="" x-webkit-speech /></td>
      </tr>
  </tbody>
</table>
<div id="ctrlB">
	<span class="btn" onClick="ret()">重置</span><span class="btn" onClick="subF()">确定</span> 
</div>