$def with (page)
<html>


<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script type="text/javascript" src="/static/js/jquery.js"></script>
  <script language="javascript" type="text/javascript" src="/static/js/My97DatePicker/WdatePicker.js"></script>

	<link rel="stylesheet" type="text/css" href="/static/css/rong.tang.css"> 
	<link rel="stylesheet" type="text/css" href="/static/css/common.css"> 
  <link href="/static/js/My97DatePicker/skin/WdatePicker.css" rel="stylesheet" type="text/css">

</head>

    <script>
	function showAll(){
		window.open('/adUserCache/list', 'AllUsers', "width=1390, top=5, left=5,toolbar=no, menubar=no, scrollbars=no, resizable=no, status=no");
	}
	</script>

<body>


<div id="wrapper">

    <div id="content">    	
      <div id="ss_container" >
      <div id="page">

      $:page
	    </div>
	    </div>
	  </div>

</div>

</body>
</html>
