<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>欢迎来到Ad综合平台</title>

<link rel="shortcut icon" type="image/x-icon" href="http://a.xnimg.cn/favicon-rr.ico?ver=3">
<link rel="stylesheet" type="text/css" href="/static/css/common.css">
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
<link rel="stylesheet" type="text/css" href="/static/css/start_menu.css">

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/start_menu.js"></script>
<script src="/static/js/index.js"></script>
</head>

<body>
<div id="blogtitle"> 
    	人人广告策略综合平台
</div>
	<div id="mainContainer" >
    	<div id="menu">
        	<ul>
            	<li gto="subMenu">产品策略</li>
                <!--ul>
                    <li gto="/edmAdCount/">Edm数据报表</li>
                </ul-->
                <ul>
                    <li gto="/argsManage/">产品策略参数平台</li>
                </ul>
            </ul>
            
        	<ul>
            	<li gto="subMenu">系统策略</li>
                <ul>
                    <li gto="http://10.3.17.112:8023">服务状态监控</li>
                </ul>
                <ul>
                    <li gto="/admobMonitor/">AdMob监控</li>
                </ul>
                <ul>
                    <li gto="/indexService/request">IndexService监控</li>
                </ul>
                <ul>
                    <li gto="/adengineb/adInfo">AdEngineB监控</li>
                </ul>
                <ul>
                    <li gto="/adedmsendermonitor/adInfo">AdEdmSender监控</li>
                </ul>
                <ul>
                    <li gto="/argsManage/sys">系统参数平台</li>
                </ul>
            </ul>
            
        	<ul>
            	<li gto="subMenu">常用工具</li>
                <ul>
                    <li gto="http://review.jebe.d.xiaonei.com">review board</li>
                </ul>
                <ul>
                    <li gto="/serviceFinder/">广告服务部署</li>
                </ul>
                <ul>
                    <li gto="/adUserCache/set">AdUserCache测试</li>
                </ul>
            </ul>
            
        	<ul>
                <li gto="subMenu">常用链接</li>
                <ul>
                    <li gto="http://wiki.d.xiaonei.com﻿">wiki</li>
                </ul>
                <ul>
                	<li gto="http://stat.d.xiaonei.com">statd</li>
                </ul>
                <ul>
                	<li gto="http://stat.jebe.renren.com/pentaho/Home">bi系统</li>
                </ul>
                <ul>
                	<li gto="http://snipe.jebe.renren.com/snipe/home.htm">后台系统</li>
                </ul>
                <ul>
                	<li gto="http://code.jebe.d.xiaonei.com/">fisheye</li>
                </ul>
                <ul>
                	<li gto="http://jira.d.xiaonei.com">jira</li>
                </ul>
                <ul>
                	<li gto="http://ntm.d.xiaonei.com/ganglia">ganglia</li>
                </ul>
                <ul>
                	<li gto="http://skynet.jebe.d.xiaonei.com/analytics">skynet</li>
                </ul>
                <ul>
                	<li gto="http://skynet.jebe.d.xiaonei.com/cats">cats</li>
                </ul>
                <ul>
                	<li gto="http://skynet.jebe.d.xiaonei.com/hiveWeb">hive</li>
                </ul>
                <ul>
                	<li gto="http://code.jebe.d.xiaonei.com/reviews">广告rb</li>
                </ul>
            </ul>
        </div>
        
	</div>
    <div id="footer"> 
        <p><br>
        人人广告综合平台 is proudly powered by <a href="http://webpy.org/">webpy</a><br /> 
        <a href = "mailto:renren.ad.engine@renren-inc.com">copyright @ renren.ad.engine</a><br /> 
      </p> 
</div>
</body>
</html>
