
<script>
function show(selector){
	var flag = $$(selector).val();
	$$.ajax({
		url : '/adengineb/adInfo',
		cache : false,
		type : 'POST',
		data:{flag : flag},
		dataType : 'json',
		error : function(e){
			alert('获取信息失败');
		},
		success: function(data, stat){
			if (data.stat == 1){
				var $$parTable = $$('#rT' + flag + ' tbody').empty();
				var trHtml = '<tr>';
				for (var i in data.list){
					if (((i%5) == 0) && (i !=0 )){
						trHtml += '</tr>'
						$$parTable.append(trHtml);
						trHtml = '<tr>';
					}
					if ((i != (data.list.length - 1)) || (data.list[i] != ''))
						trHtml = trHtml + '<td>' + data.list[i] +'</td>';
				}
				trHtml += '</tr>'
				$$parTable.append(trHtml);
				$$('.resultTable').hide();
				$$parTable.parent().show();
			}else{
				alert('获取信息失败\n' + data.res);
			}
		}
	});
}
$$(function(){
	$$('.ctrlPanel select').trigger('change');
});
</script>


<h2> 广告信息</h2><br>

<div class="ctrlPanel">
<select onChange="show(this)">
<option value="0" selected>广告商</option>
<option value="1">广告计划</option>
<option value="2">广告组</option>
</select>
</div>
<table id="rT0" class="resultTable" border="0" cellspacing="0" cellpadding="4">
<thead>
      <tr>
        <th>AdMember</th>
        <th>AdMember</th>
        <th>AdMember</th>
        <th>AdMember</th>
        <th>AdMember</th>
      </tr>
  </thead>
  <tbody>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
  </tbody>
</table>
<table id="rT1" class="resultTable" border="0" cellspacing="0" cellpadding="4">
<thead>
      <tr>
        <th>AdCampaign</th>
        <th>AdCampaign</th>
        <th>AdCampaign</th>
        <th>AdCampaign</th>
        <th>AdCampaign</th>
      </tr>
  </thead>
  <tbody>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
  </tbody>
</table>
<table id="rT2" class="resultTable" border="0" cellspacing="0" cellpadding="4">
<thead>
      <tr>
        <th>AdGroup</th>
        <th>AdGroup</th>
        <th>AdGroup</th>
        <th>AdGroup</th>
        <th>AdGroup</th>
      </tr>
  </thead>
  <tbody>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
  </tbody>
</table>
