$def with (adzoneids)
<script>
$if adzoneids['stat'] == 0:
  alert('$adzoneids["res"]');
function show(){
	var adZoneId = $$('#adZoneId').val();
	var adIndex = $$('#adIndex').val();
	$$.ajax({
		url : '/adengineb/zoneIndex',
		cache : false,
		type : 'POST',
		data:{adZoneId: adZoneId, adIndex: adIndex},
		dataType : 'json',
		error : function(e){
			alert('获取信息失败');
		},
		success: function(data, stat){
			if (data.stat == 1){
				$$('#resTables').empty();
				anAdZoneIndex(data.list);
			}else{
				alert('获取信息失败\n' + data.res);
			}
		}
	});
}

function anAdZoneIndex(index){
	var $$index = $$('<div class="ind"></div>');
	var $$tab = $$('<table border="0" cellspacing="0" cellpadding="4">' +
		'<thead><tr><th>属性</th><th>广告组</th></tr></thead></table>');
		
	for (var j in index){
	   $$tab.append('<tr><td>' + index[j].split(':')[0] + '</td><td>' + index[j].split(':')[1] + '</td></tr>');
	}
	$$index.append($$tab);
	
	$$('#resTables').append($$index);	
}
$$(function(){
	//$$('.ctrlPanel .btn').trigger('click');
	$$('#adZoneId').keyup(function(e){
		if(!e) e = window.event;//火狐中是 window.event
		var keyCode = (e.keyCode || e.which);
		if(keyCode == 13){//如果是回车
			$$('.ctrlPanel .btn').trigger('click');
		}
	});
});
</script>
<h2> 倒排索引</h2><br>

<div class="ctrlPanel">
请选择广告位&nbsp;
<select id="adZoneId">
$for it in adzoneids['list']:
  <option value=$it>$it  $adzoneids['dict'][it]</option>
</select>
请选择索引
<select id="adIndex">
<option value="0" selected="selected">性别</option>
<option value="1">人生阶段</option>
<option value="2">年级</option>
<option value="3">年龄</option>
<option value="4">地区</option>
<option value="5">学校</option>
</select>
&nbsp;&nbsp;
<span class="btn" onclick="show()">查询</span>
</div>
<div id="resTables">
</div>

